* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
}

.scoreboard {
  text-align: center;
  font-family: monospace;
  font-size: x-large;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
}